In [2]:
#import statements
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

Reading the file

In [2]:
#reading the file
df=pd.read_csv("salary1.csv")

In [3]:
df

,Unnamed: 0,index,time,gender,Q1_OTHER_TEXT,country,deg,major,jobrole,Q6_OTHER_TEXT,...,Q34_OTHER_TEXT,Q35_OTHER_TEXT,Q36_OTHER_TEXT,Q37_OTHER_TEXT,Q38_OTHER_TEXT,Q42_OTHER_TEXT,Q49_OTHER_TEXT,Q50_OTHER_TEXT,index.1,age
0,1,2,434,Male,1,Indonesia,Bachelors degree,Engineering,Other,0,...,1,1,1,1,1,1,1,1,0.0,30-34
1,4,7,959,Male,1,Chile,Doctoral degree,Information technology,Other,1,...,2,1,1,1,1,1,1,1,3.0,35-39
2,5,8,1758,Male,1,India,Masters degree,Information technology,Other,2,...,2,1,1,1,1,1,1,1,4.0,18-21
3,6,10,751,Male,1,Hungary,Masters degree,Engineering,Software Engineer,1,...,2,1,1,1,1,1,1,1,5.0,30-34
4,7,12,823,Male,1,United States,Masters degree,Engineering,Data Scientist,1,...,2,1,1,1,1,0,1,1,6.0,40-44
5,9,14,1917,Male,1,United States,Bachelors degree,Mathematics,Research Assistant,1,...,2,1,1,1,1,1,1,1,8.0,25-29
6,10,15,846,Female,1,Argentina,Bachelors degree,A business discipline,Data Analyst,1,...,2,1,1,1,1,1,1,1,9.0,25-29
7,11,16,1153,Male,1,Japan,Masters degree,Engineering,Data Scientist,1,...,2,1,1,1,1,1,1,1,10.0,25-29
8,12,17,2626,Male,1,Colombia,Masters degree,Environmental science,Data Scientist,1,...,2,1,1,1,1,1,1,1,11.0,40-44
9,13,18,1388,Male,1,Nigeria,Professional degree,Medical,Other,3,...,5,0,1,1,1,1,1,1,12.0,25-29
10,14,19,2150,Male,1,United States,Some college,Computer science,Other,4,...,2,1,1,1,1,1,1,1,13.0,35-39
11,15,20,1361,Male,1,Spain,Some college,I never declared a major,Data Scientist,1,...,2,1,1,1,1,1,1,1,14.0,55-59
12,16,21,2052,Female,1,Other,Masters degree,Engineering,Chief Officer,1,...,2,1,1,1,1,1,1,1,15.0,30-34
13,17,23,1327,Male,1,United States,Bachelors degree,A business discipline,Manager,1,...,2,1,1,1,1,1,1,1,16.0,30-34
14,18,24,1177,Female,1,Iran,Masters degree,Computer science,Research Scientist,1,...,1,1,2,1,1,1,1,1,17.0,25-29
15,19,25,1298,Male,1,United Kingdom,Masters degree,Mathematics,Data Scientist,1,...,2,1,3,1,1,1,1,1,18.0,30-34
16,20,26,1012,Male,1,Turkey,Masters degree,Other,Research Assistant,1,...,2,1,1,1,1,1,1,1,19.0,25-29
17,21,27,2063,Male,1,India,Bachelors degree,Engineering,Other,5,...,1,1,1,1,1,1,1,1,20.0,30-34
18,22,28,3266,Female,1,United States,Masters degree,Medical,Data Analyst,1,...,2,1,1,1,1,1,1,1,21.0,30-34
19,23,29,1023,Female,1,Poland,Masters degree,Mathematics,Business Analyst,1,...,2,1,1,1,1,1,1,1,22.0,40-44
20,24,30,1419,Female,1,Kenya,Bachelors degree,Computer science,Software Engineer,1,...,2,1,1,1,1,1,1,1,23.0,25-29
21,25,32,1344,Male,1,Denmark,Masters degree,Other,Business Analyst,1,...,1,1,1,1,1,1,1,1,24.0,30-34
22,26,33,1724,Male,1,Netherlands,Masters degree,Computer science,Data Scientist,1,...,2,1,1,1,1,1,1,1,25.0,35-39
23,27,35,1996,Female,1,Sweden,Masters degree,Mathematics,Data Scientist,1,...,2,1,1,1,0,1,1,1,26.0,25-29
24,28,36,971,Male,1,Ukraine,Masters degree,Computer science,Software Engineer,1,...,0,1,1,1,1,1,1,1,27.0,30-34
25,29,38,2432,Male,1,Canada,Doctoral degree,Engineering,Software Engineer,1,...,4,1,1,1,1,1,1,1,28.0,22-24
26,30,39,1185,Male,1,Australia,Doctoral degree,Physics,Data Scientist,1,...,2,1,1,1,1,1,1,0,29.0,30-34
27,31,40,915,Male,1,United States,Bachelors degree,Computer science,Other,6,...,2,1,1,1,1,1,1,1,30.0,22-24
28,32,41,919,Male,1,United States,Doctoral degree,Computer science,Software Engineer,1,...,1,1,1,1,1,1,1,1,31.0,40-44
29,33,42,15297,Male,1,Japan,Masters degree,Computer science,Research Scientist,1,...,1,1,1,1,1,1,1,1,32.0,25-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12334,15393,23761,340,Male,-1,Israel,Doctoral degree,Medical,Research Scientist,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,15392.0,25-29
12335,15395,23763,1205,Male,-1,Portugal,Masters degree,Computer science,Software Engineer,-1,...,35,-1,-1,-1,-1,-1,-1,-1,15394.0,22-24
12336,15398,23776,86,Prefer not to say,-1,United States,Masters degree,Engineering,Business Analyst,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,15397.0,18-21
12337,15399,23778,383,Male,-1,Egypt,Bachelors degree,Computer science,Data Scientist,-1,...,33,-1,-1,-1,-1,-1,-1,-1,15398.0,22-24
12338,15400,23782,394,Male,-1,India,Bachelors degree,Medical,Other,860,...,-1,-1,-1,-1,-1,-1,-1,-1,15399.0,35-39
12339,15401,23783,411,Male,-1,Poland,Masters degree,Mathematics,Data Analyst,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,15400.0,25-29
12340,15402,23787,877,Male,-1,Turkey,Doctoral degree,A business discipline,Data Analyst,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,15401.0,25-29
12341,15404,23791,42478,Male,-1,Pakistan,Bachelors degree,Information technology,Data Scientist,-1,...,33,-1,-1,-1,-1,-1,-1,-1,15403.0,30-34
12342,15405,23795,474,Female,-1,India,Professional degree,Engineering,ProductProject Manager,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,15404.0,40-44
12343,15406,23797,292,Male,-1,Hungary,Masters degree,Environmental science,Software Engineer,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,15405.0,35-39
12344,15407,23799,439,Male,-1,Germany,Masters degree,Computer science,Data Analyst,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,15406.0,30-34
12345,15408,23800,9763,Female,-1,Russia,Bachelors degree,Computer science,Software Engineer,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,15407.0,25-29
12346,15409,23801,12032,Male,-1,Other,Doctoral degree,Mathematics,Statistician,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,15408.0,30-34
12347,15410,23805,625,Prefer not to say,-1,Sweden,Masters degree,Engineering,Data Scientist,-1,...,33,-1,-1,-1,-1,-1,-1,-1,15409.0,35-39
12348,15411,23807,872,Male,-1,India,Bachelors degree,Computer science,DBADatabase Engineer,-1,...,33,-1,-1,-1,-1,-1,-1,-1,15410.0,25-29
12349,15412,23810,480,Male,-1,Russia,Doctoral degree,Physics,Research Scientist,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,15411.0,35-39
12350,15413,23813,2294,Male,-1,India,Masters degree,Computer science,Data Scientist,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,15412.0,30-34
12351,15414,23815,180,Male,-1,Turkey,Masters degree,Computer science,Software Engineer,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,15413.0,25-29
12352,15415,23817,907,Male,-1,Ukraine,Masters degree,Information technology,Manager,-1,...,33,-1,-1,-1,-1,-1,-1,-1,15414.0,40-44
12353,15416,23821,28031,Male,-1,Turkey,Masters degree,Computer science,Data Scientist,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,15415.0,22-24
12354,15417,23823,697,Male,-1,Pakistan,Bachelors degree,Computer science,Software Engineer,-1,...,35,-1,-1,-1,-1,-1,-1,-1,15416.0,25-29
12355,15418,23824,940,Male,-1,United Kingdom,Doctoral degree,Computer science,Research Scientist,-1,...,41,-1,-1,-1,-1,-1,-1,-1,15417.0,35-39
12356,15419,23828,183,Male,-1,Ukraine,Masters degree,Physics,Other,204,...,-1,-1,-1,-1,-1,-1,-1,-1,15418.0,25-29
12357,15420,23833,1804,Male,-1,Turkey,Bachelors degree,Mathematics,Data Engineer,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,15419.0,18-21
12358,15421,23836,1536,Male,-1,Russia,Masters degree,Computer science,ProductProject Manager,-1,...,33,-1,-1,-1,-1,-1,-1,-1,15420.0,25-29
12359,15422,23839,180,Male,-1,Turkey,Bachelors degree,A business discipline,Data Analyst,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,15421.0,22-24
12360,15425,23844,1800,Male,-1,Netherlands,Masters degree,Computer science,Software Engineer,-1,...,33,-1,-1,-1,-1,-1,-1,-1,15424.0,30-34
12361,15427,23854,348,Male,-1,Turkey,Doctoral degree,Computer science,Research Assistant,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,15426.0,30-34
12362,15428,23855,575,Male,-1,France,Doctoral degree,Computer science,Chief Officer,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,15427.0,45-49
12363,15429,23857,370,Male,-1,Turkey,Masters degree,Computer science,Software Engineer,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,15428.0,22-24

In [4]:
#splitting the train and test data
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
data=df
y = data.sal
X_train, X_test, Y_train, y_test = train_test_split(data, y, test_size=0.6)
print( X_train.shape, Y_train.shape)
print (X_test.shape, y_test.shape)

(4945, 49) (4945,)
(7419, 49) (7419,)

## DATA CLEANING

In [5]:
#cleaning the data
df['country'] = df['country'].str.replace('(\(|,| or | and | of ).+$','', regex=True)
df['deg'] = df['deg'].str.replace('(/).+$','', regex=True)
df['major'] = df['major'].str.replace('(\(|,| or | and | of ).+$','', regex=True)

In [6]:
ages=df['age']
df.drop(['age'],axis=1,inplace=True)
df['deg']=df['deg'].str.replace(u"â","")

In [7]:
df = df.replace('[^\w\s]','',regex=True)

In [8]:
df['age']=ages

In [9]:
a = {'18-21':20,'22-24':23,'25-29':27,'30-34':32,'40-44':42,'45-49':47,'50-54':52,'60-69':65,'70-79':75,'80+':80}                
df['age'] = df['age'].map(a)

In [10]:
df2=pd.DataFrame({col: df[col].astype('category').cat.codes for col in df}, index=df.index)

In [11]:
sal1 = df2['sal']

In [12]:
df2.drop(['sal'],axis=1,inplace=True)

In [13]:
X = df2.iloc[:, 1:48].values
y = sal1.values

In [14]:
#Splitting training and test data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [17]:
df1=pd.DataFrame(X_train)
df2=pd.DataFrame(X_test)

Saving training and test data into different files

In [26]:
df1.to_csv("train1.csv")
df2.to_csv("test1.csv")

In [ ]:
Evaluating ANN
3 layers are taken with 100 epochs

Code takes a few hours to run and requires memory spaces

In [4]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
def bonus(traindata,testdata):
    dropout = 0.1
    epochs = 100
    batch_size = 30
    optimizer = 'adam'     
    k = 20

    def build_classifier():
      
    classifier = Sequential()
    classifier.add(Dense(16, kernel_initializer="truncated_normal", activation = 'relu', input_shape = (X.shape[1],)))
    classifier.add(Dropout(dropout))
    classifier.add(Dense(1, kernel_initializer="truncated_normal", activation = 'sigmoid', )) #outputlayer
    classifier.compile(optimizer = optimizer, loss = 'binary_crossentropy', metrics = ["accuracy"])
      return classifier
    classifier = KerasClassifier(build_fn = build_classifier, batch_size =10, epochs = 100, verbose=0)
    accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 30)
    max = accuracies.max()

C:\Anaconda\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [ ]:
train=pd.read_csv("train1.csv")
test=pd.read_csv("test1.csv")
bonus(train,test)